playwright
python-dotenv
pendulum
clean-text[gpl]
langdetect
modal-client
pandas
beautifulsoup4
gender-guesser
langchain
unstructured
tiktoken
googlesearch-python
fastapi
markdownify
openai
uvicorn[standard]
html2text
customerio
python-telegram-bot
playwright-stealth
sqlmodel
psycopg2-binary